div, body{
    padding: 0%;
    margin: 0%;
}
.title {
    display: flex;
    background-color: rgb(8, 0, 44);
    height: 36px;
    justify-content: space-between;
}
.title ul {
    position: relative;
    list-style: none;
    display: flex;
    gap: 30px;
    bottom: 35%;
}
.title a {
    flex-wrap: wrap;
    text-decoration: none;
    text-align: center;
    font-size: 0.7em;
    color: white;

}

.logo {
    left: 30%;
    position: relative;
    display: flex;
}
.logo img {
    width: 130px;
    height: 50px;
}
.manu {
    display: flex;
    gap: 55px;
    list-style: none;
}
.manu a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: small;
}
.color {
    padding: 20px;
    background-color: rgb(9, 14, 63);
}