.logo {
    display: flex;
    background-color: rgb(241, 161, 41);
    border-radius: 10%;
}
.logo img {
    width: 7%;
    height: 7%;
}
.logo-menu {
    gap: 15%;
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.logo-menu a {
    text-decoration: none;
    font-size: 10px;
    padding: 21px 0 20px 15px;
    transform: color 0.2s;
    color: rgb(146, 78, 0);
}